<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bowling Kata
  </h1>
</div>
<details>
  <summary>Details</summary>
  <h4> Bowling Rules</h4>
  <p>
    <br>
    The game consists of 10 frames. In each frame the player has two rolls to knock down 10 pins. The score for the frame is the total number of pins knocked down, plus bonuses for strikes and spares.
    <br>
    A spare is when the player knocks down all 10 pins in two rolls. The bonus for that frame is the number of pins knocked down by the next roll.
    <br>
    <br>
    A strike is when the player knocks down all 10 pins on his first roll. The frame is then completed with a single roll. The bonus for that frame is the value of the next two rolls.
    <br>
    <br>
    In the tenth frame a player who rolls a spare or strike is allowed to roll the extra balls to complete the frame. However no more than three balls can be rolled in tenth frame.
    <br>
    <br>
    Requirements
    <br>
    Write a class Game that has two methods
    <br>
    <br>
    void roll(int) is called each time the player rolls a ball. The argument is the number of pins knocked down.
    int score() returns the total score for that game.
  </p>
</details>

<br>
Score: {{score}} 
<br>
Available Pins: {{currentPinCount}}
<br>
last Roll: {{lastRoll}}
<br>
<button (click)="roll()">Roll</button>